body {
  margin: 0;
  padding: 0;
}

#gui-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#form-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#gui {

}
#gui form input {
  display: block;
  height: 50px;
  width: 350px;
  font-size: 24px;
  padding: 0 5px;
  margin-bottom: 25px;
  margin-right: 5px;
}
#gui form button {
  height: 50px;
  width: 350px;
  padding: 0 5px;
  font-size: 24px;
}